.tabbrowser-tab .tab-label-container {
	transition-duration: .2s !important;
	transition-property: opacity !important;
	color: white !important;
	opacity: .6 !important;
}

.tabbrowser-tab[visuallyselected="true"] .tab-label-container,
.tabbrowser-tab[multiselected="true"] .tab-label-container {
	opacity: 1 !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border: 0 !important;
	width: 1px !important;
	background-color: white !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
	opacity: .15 !important;
}

.tabbrowser-tab:hover::after,
.tabbrowser-tab[multiselected="true"]::after, {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	opacity: .5 !important;
}

.tabbrowser-tab[beforeselected-visible="true"]::after,
.tabbrowser-tab[selected="true"]::after {
	opacity: 0 !important;
}

.tab-background,
.tab-background-inner {
	transition-duration: .4s !important;
	transition-property: background, background-image, background-color !important;
}

.tabbrowser-tab[selected="true"] .tab-background,
.tabbrowser-tab[multiselected="true"] .tab-background {
	background-image: none !important;
	background-color: rgba(50, 50, 50, .75) !important;
}

.tabbrowser-tab:hover .tab-line {
	background-color: rgb(55,55,55) !important;
}

.tab-line[multiselected="true"],
.tab-line[selected="true"] {
	background-color: rgb(83, 105, 128) !important;
	transition-duration: 1s !important;
	transition-property: background-color !important;
}

.tab-loading-burst {
	display: none !important
}

.tab-close-button {
	margin-inline-end: -2px !important;
	color: white !important;
	border-radius: 4px !important;
	transition-property: fill, fill-opacity, fill, border-radius, color !important;
	transition-duration: .2s !important;
	opacity: .6 !important;
}

.tab-close-button:hover {
	border-radius: 7px !important;
	opacity: 1 !important;
}

.tab-icon-overlay,
.tab-icon-image {
	color: rgba(255,255,255,.6) !important;
	transition-property: color !important;
	transition-duration: .2s !important;
}

.tabbrowser-tab[multiselected="true"] .tab-icon-overlay,
.tabbrowser-tab[multiselected="true"] .tab-icon-image,
.tabbrowser-tab[selected="true"] .tab-icon-overlay,
.tabbrowser-tab[selected="true"] .tab-icon-image {
	color: white !important;
}