.tabbrowser-tab .tab-label-container {
	transition-duration: .2s !important;
	transition-property: opacity !important;
	color: white !important;
	opacity: .6 !important;
}

.tabbrowser-tab[visuallyselected="true"] .tab-label-container,
.tabbrowser-tab[multiselected] .tab-label-container {
	opacity: 1 !important;
}

.titlebar-spacer[type="pre-tabs"],
.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border: 0 !important;
	width: 1px !important;
	background-color: white !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
	opacity: .15 !important;
}

.tabbrowser-tab:hover::after,
.tabbrowser-tab[multiselected]::after, {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	opacity: .5 !important;
}

.tabbrowser-tab[beforeselected-visible="true"]::after,
.tabbrowser-tab[selected="true"]::after {
	opacity: 0 !important;
}

.tab-background,
.tab-background-inner {
	transition-duration: .4s !important;
	transition-property: background, background-image, background-color !important;
}

.tabbrowser-tab[selected="true"] .tab-background,
.tabbrowser-tab[multiselected="true"] .tab-background {
	background-image: none !important;
	background-color: rgba(50, 50, 50, .75) !important;
}

.tab-line[multiselected],
.tab-line[selected="true"] {
	background-color: rgb(83, 105, 128) !important;
	transition: 1s background-color !important;
}

.tab-loading-burst {
	display: none !important
}

.tab-close-button {
	margin-inline-end: -2px !important;
	border-radius: 4px !important;
	transition-property: fill, fill-opacity, fill, border-radius !important;
	transition-duration: .2s !important;
	opacity: .6 !important;
}

.tab-close-button:hover {
	border-radius: 7px !important;
	opacity: 1 !important;
}
