#navigator-toolbox {
	background-color: black !important;
	background-image: linear-gradient(167deg, rgba(37,32,40,1) 1%, rgba(7,18,22,1) 100%) !important;
	border-bottom: 0 !important;
}

.browser-toolbar#nav-bar {
	box-shadow: none !important;
}