@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#navigator-toolbox {
	background-color: black !important;
	background-image: linear-gradient(167deg, rgba(37,32,40,1) 1%, rgba(7,18,22,1) 100%) !important;
}

/* Titlebar */
.titlebar-spacer[type="pre-tabs"] {
	width: 15px !important;
}

/* Tabs */
.tabbrowser-tab .tab-label-container {
	transition-duration: .2s !important;
	transition-property: opacity !important;
	color: white !important;
	opacity: .6 !important;
}

.tabbrowser-tab[visuallyselected="true"] .tab-label-container,
.tabbrowser-tab[multiselected] .tab-label-container {
	opacity: 1 !important;
}

.titlebar-spacer[type="pre-tabs"],
.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border: 0 !important;
	width: 1px !important;
	background-color: white !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
	opacity: .15 !important;
}

.tabbrowser-tab:hover::after,
.tabbrowser-tab[multiselected]::after, {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
	opacity: .5 !important;
}

.tabbrowser-tab[beforeselected-visible="true"]::after,
.tabbrowser-tab[selected="true"]::after {
	opacity: 0 !important;
}

.tab-background,
.tab-background-inner {
	transition-duration: .4s !important;
	transition-property: background, background-image, background-color !important;
}

.tabbrowser-tab[selected="true"] .tab-background,
.tabbrowser-tab[multiselected="true"] .tab-background {
	background-image: none !important;
	background-color: rgba(50, 50, 50, .75) !important;
}

.tab-line[multiselected],
.tab-line[selected="true"] {
	background-color: rgb(83, 105, 128) !important;
	transition: 1s background-color !important;
}

.tab-loading-burst {
	display: none !important
}

/* Tab close button*/

.tab-close-button {
	margin-inline-end: -2px !important;
	border-radius: 4px !important;
	transition-property: fill, fill-opacity, fill, border-radius !important;
	transition-duration: .2s !important;
	opacity: .6 !important;
}

.tab-close-button:hover {
	border-radius: 7px !important;
	opacity: 1 !important;
}

/* New tab button */

#tabs-newtab-button {
	margin-left: 3px !important;
}

#new-tab-button .toolbarbutton-icon,
#alltabs-button .toolbarbutton-icon,
#tabs-newtab-button .toolbarbutton-icon {
	border-radius: 5px !important;
	padding: 6px !important;
	width: 24px !important;
	height: 24px !important;
	transition-duration: .2s !important; 
	transition-property: background, fill, fill-opacity !important;
}

#new-tab-button:hover .toolbarbutton-icon,
#alltabs-button:hover .toolbarbutton-icon,
#alltabs-button[open="true"] .toolbarbutton-icon,
#tabs-newtab-button:hover .toolbarbutton-icon {
	fill: white !important;
	fill-opacity: 1 !important;
	background: rgba(255, 255, 255, .1) !important;
}

#alltabs-button[open="true"] .toolbarbutton-badge-stack,
#alltabs-button .toolbarbutton-badge-stack {
	background-color: transparent !important;
}

/* Global control buttons */

.titlebar-button {
	fill: white !important;
	fill-opacity: .6 !important;
	transition-duration: .4s !important;
	transition-property: background-color, fill-opacity !important;
}

.titlebar-button:hover {
	fill-opacity: 1 !important;
	background-color: rgba(255, 255, 255, .1) !important;
}

.titlebar-close:hover {
	fill-opacity: 1 !important;
	background-color: rgba(217, 34, 111, 0.1) !important;
}

.titlebar-buttonbox:first-child::before {
	display: block !important;
	content: "" !important;
	width: 1px !important;
	background-color: white !important;
	opacity: .15 !important;
	height: 100% !important;
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}